# programa.cfg - Configuracion del linker
SYMBOLS {
    __STACKSIZE__: type = weak, value = $0200;
    __STACKSTART__: type = weak, value = $3FFF;
    __CONSTRUCTOR_COUNT__: type = weak, value = 0;
    __DESTRUCTOR_COUNT__: type = weak, value = 0;
    __CONSTRUCTOR_TABLE__: type = weak, value = $0800;
    __DESTRUCTOR_TABLE__: type = weak, value = $0800;
}
MEMORY {
    ZP:     start = $0020, size = $0060, type = rw, define = yes;
    LORAM:  start = $0200, size = $0600, type = rw;
    RAM:    start = $0800, size = $3800, type = rw, file = %O, define = yes;
}
SEGMENTS {
    ZEROPAGE: load = ZP, type = zp, define = yes;
    STARTUP:  load = RAM, type = ro;
    RODATA:   load = RAM, type = ro, optional = yes;
    CODE:     load = RAM, type = ro, optional = yes;
    ONCE:     load = RAM, type = ro, optional = yes;
    DATA:     load = RAM, type = rw, define = yes, optional = yes;
    BSS:      load = LORAM, type = bss, define = yes, optional = yes;
}
